@font-face {
  font-family: 'NicoMoji';
  src: url('http://fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'NicoMoji';
}


dyne-kara-feme-rest